button {
  margin: 5px;
}
.image-10-container {
  width: 680px;
}
.image-4-container {
  width: 272px;
}
.image-6-container {
  width: 408px;
}
.image-8-container {
  width: 544px;
}
.mat-icon {
  transform: scale(2);
}
.wrong {
  margin-top: 50px;
  font-weight: bold;
  margin-left: 100px;
  font-size: 50px;
}
